celery
kombu
pydantic
pydantic-settings
python-dotenv
httpx
python-multipart
bcrypt
asyncpg
psycopg2>=2.9.9
sqlalchemy>=2.0
sqlalchemy_utils
pandas
ray[default]
docker
mlflow
pytest
anyforecast-datasets @ git+https://github.com/anyForecast/anyforecast-datasets.git