celery
kombu
pydantic
pydantic-settings
python-dotenv
python-multipart
psycopg2
sqlalchemy
sqlalchemy_utils
pandas
ray[default]
docker
mlflow
pytest
virtualenv
anyforecast-datasets @ git+https://github.com/anyForecast/anyforecast-datasets.git